services:
  rsshub:
    image: diygod/rsshub:chromium-bundled@sha256:340ab5da073bb47e9746c3e0ef998463edda0292553761c7720b3c7ad8803361
    hostname: rsshub
    container_name: rsshub__rsshub

    restart: unless-stopped

    environment:
      TWITTER_AUTH_TOKEN: ${TWITTER_AUTH_TOKEN}

    deploy:
      resources:
        limits:
          memory: 1024m

    networks:
      - default

  nginx:
    image: nginx:1.29.3@sha256:b5b9e01613537b740e597a1aca6b8670a48f2f46493be50775567b09a61465a5
    hostname: nginx
    container_name: rsshub__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

      - type: bind
        source: ./.htpasswd
        target: /etc/htpasswd
        read_only: true

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    hostname: cloudflared
    container_name: rsshub__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

networks:
  default:
    name: rsshub__default
