services:
  rsshub:
    image: diygod/rsshub:chromium-bundled@sha256:5b54e38f5f8ad95fdfc50b8f8291a77d070a76ddc5b286dc6d5b4cedbe9e8a8b
    hostname: rsshub
    container_name: rsshub__rsshub

    restart: unless-stopped

    environment:
      TWITTER_AUTH_TOKEN: ${TWITTER_AUTH_TOKEN}

    deploy:
      resources:
        limits:
          memory: 1024m

    networks:
      - default

  nginx:
    image: nginx:1.29.3@sha256:1beed3ca46acebe9d3fb62e9067f03d05d5bfa97a00f30938a0a3580563272ad
    hostname: nginx
    container_name: rsshub__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

      - type: bind
        source: ./.htpasswd
        target: /etc/htpasswd
        read_only: true

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

  cloudflared:
    image: cloudflare/cloudflared:2025.10.1@sha256:21f3607baf2384c54d592b0efe76dd5f548c0dbc083e62fa22c7fac3923d077f
    hostname: cloudflared
    container_name: rsshub__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

networks:
  default:
    name: rsshub__default
